@media (max-width: 500px) {
    nav {
        display: none !important; 
    }
}

@media (max-width: 500px) {
    nav#mobile-menu {
        display: block !important;
        color: white;
        text-align: center;
        padding: 5px 0;
    }
}

footer.mobile-menu {
    display: none; 
}